<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARWL_NdTuB1op7-B0YK7lldV2jxyu0r9s</string>
	<key>GCM_SENDER_ID</key>
	<string>480159103814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifelogMobile</string>
	<key>PROJECT_ID</key>
	<string>bluelog-4bc1c</string>
	<key>STORAGE_BUCKET</key>
	<string>bluelog-4bc1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480159103814:ios:b162b313aaf09c78f50347</string>
</dict>
</plist>